:root {
  /* Navbar Text and button colors */
  --orange: #ed8a34;
  /* Form colors */
  --frorange: #dd6300;
  /* Background color */
  --black: #1b1c1b;
  /* Text color */
  --white: #dbdbdb;
  /* Hover color */
  --hover: #ff7a0d;
}
.spacelarge {
  height: 16dvh;
  width: none;
}
.space {
  height: 12dvh;
  width: none;
}
.spacesmall {
  height: 3dvh;
  width: none;
}

/* General Styles */
body {
  margin: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #272727;
  color: var(--white);
}
.navbar-link.linkofproducts {
  font-size: 1.8rem;
  text-align: center;
  place-items: center;
  justify-content: center;
  align-items: center;
}
.error-product-text {
  font-size: 1.8rem;
  text-align: center;
  place-items: center;
  justify-content: center;
  align-items: center;
}
/* Navbar Styles */
.navbar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  background-color: #1a1919;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 1vh 2vw;
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  height: 9vh;
  z-index: 1000;
  right: 0%;
  top: 0%;
}

.navbar div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.navbar div:first-child {
  justify-content: flex-start;
  grid-column: 1 / 2;
}

.navbar div:last-child {
  justify-content: flex-end;
  grid-column: 3 / 4;
}

.navbar a {
  text-decoration: none;
  color: var(--frorange);
  padding: 0.5vh 1vw;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover {
  color: var(--hover);
}

/* Prevent horizontal overflow */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;

  min-height: 100vh;
}
.allclasses {
  justify-content: center;
  text-align: center;
  align-items: center;
  place-items: center;
}
.confirm-cart {
  padding: 5vh;
  width: 70%;
  border-radius: 2vh;
  background-color: var(--black);
  max-width: 600px;
  justify-content: center;
  text-align: center;
  align-items: center;
  place-items: center;
}
.confirm-cart input,
.confirm-cart button {
  width: 70%;
  padding: 3vh 5vw;
  margin: 5vh 0;
  border-radius: 2vh;
  background-color: var(--black);
  color: var(--white);
}
.confirm-cart button:hover {
  background-color: var(--hover);
  cursor: pointer;
}

button:disabled {
  background-color: #d3d3d3; /* Light grey background */
  color: #a9a9a9; /* Dark grey text */
  cursor: not-allowed; /* Change cursor to indicate disabled state */
  border: 1px solid #a9a9a9; /* Optional: to give a consistent disabled look */
  pointer-events: none; /* Optional: prevents any interaction */
}
.confirm-cart .cartsend {
  background-color: var(--frorange);
  color: var(--white);
  padding: 1rem;
  border-radius: 2vh;
  font-size: 1.2rem;
}
.confirm-cart .cartsend a {
  color: var(--white);
}
.confirm-cart .cartsend:hover {
  background-color: var(--hover);
  cursor: pointer;
}
