:root {
  /* Navbar Text and button colors */
  --orange: #ed8a34;
  /* Form colors */
  --frorange: #dd6300;
  /* Background color */
  --black: #1b1c1b;
  /* Text color */
  --white: #dbdbdb;
  /* Hover color */
  --hover: #ff7a0d;
}
.spacelarge {
  height: 16dvh;
  width: none;
}
.space {
  height: 12dvh;
  width: none;
}
.spacesmall {
  height: 3dvh;
  width: none;
}

/* General Styles */
/* General Styles */
body {
  margin: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #272727;
  color: var(--white);
}
.navbar-link.linkofproducts {
  font-size: 1.8rem;
  text-align: center;
  place-items: center;
  justify-content: center;
  align-items: center;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;


  min-height: 100vh;
}
.error-product-text {
  font-size: 1.8rem;
  text-align: center;
  place-items: center;
  justify-content: center;
  align-items: center;
}
/* Navbar Styles */
.navbar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  background-color: #1a1919;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 1vh 2vw;
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  height: 9vh;
  z-index: 1000;
  right: 0%;
  top: 0%;
}
.navbar div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.navbar div:first-child {
  justify-content: flex-start;
  grid-column: 1 / 2;
}

.navbar div:last-child {
  justify-content: flex-end;
  grid-column: 3 / 4;
}

.navbar a {
  text-decoration: none;
  color: var(--frorange);
  padding: 0.5vh 1vw;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover {
  color: var(--hover);
}

/* Container Styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: #272727;

}

/* Form Container Styles */
.form-container {
  text-align: center;
  background: var(--black);
  padding: 4%;
  border-radius: 10px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  width: 35vw;
  height: auto;
  color: var(--white);
}

@media only screen and (max-width: 768px) {
  .form-container {
    width: 50vw;
  }
}

/* Extra Small Devices, Phones */
.hidden {
  transform: scale(0.5);
  opacity: 0;
}

/* Form Group Styles */
.form-group {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease-in-out;
  gap: 2vw;
  padding: 1vh;
}

.form-group input {
  padding: 1vh;
  border-radius: 5dvh;
  width: 90%;
}

.form-group:hover {
  transform: translateY(-5%);
}

.form-group i {
  font-size: 1.5vw;
  color: var(--white);
}

/* Status Icon Styles */
.status-icon {
  font-size: 1.2em;
}

.status-icon.correct {
  color: green;
}

.status-icon.incorrect {
  color: red;
}

/* Tooltip Styles */
.info-tooltip {
  display: inline-block;
  position: relative;
}

.info-tooltip .tooltip-text {
  visibility: hidden;
  background-color: var(--frorange);
  color: var(--white);
  text-align: center;
  border-radius: 5px;
  padding: 1vh;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  width: 15vw;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.info-tooltip:hover .tooltip-text {
  visibility: visible;
}

/* Button Styles */
.submit-button {
  background-color: var(--frorange);
  color: var(---white);
  border: none;
  padding: 1vh 5vw;
  border-radius: 5dvh;
  cursor: pointer;
  opacity: 0.5;
  transform: translateX(40%);
}

.submit-button:enabled {
  opacity: 1;
}

.submit-button:disabled {
  background-color: #ccc;
}

/* Overlay Styles */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.overlay .box {
  background: var(--black);
  padding: 3vh 3vw;
  border-radius: 10px;
  text-align: center;
  width: 50%;
}

.spinner {
  border: 0.4vh solid rgba(0, 0, 0, 0.1);
  border-left-color: #333;
  border-radius: 50%;
  width: 4vw;
  height: 4vw;
  animation: spin 1s linear infinite;
  padding: 1vh;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* Lower Container Styles */
.lower-container {
  height: 20vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.hidden {
  display: none;
}

/* Welcome Message */
.hos-geldin {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  background-color: #272727;
  font-size: 2rem;
  color: var(--orange);
  text-align: center;
}

/* Shopping Form Layout - Ensuring sections are stacked vertically */
.shopping-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Centering the content horizontally */
  justify-content: flex-start;
  gap: 2vw;
  flex: 1;
  padding: 15vh 0;
  box-sizing: border-box;
  width: 100%;
}

/* Individual Product Card */
.product {
  background: var(--black);
  padding: 2vh;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  height: 90%;
  /* Increased height */
  gap: 1rem;
  width: 33vw;
  /* Increased width */
  min-height: 350px;
  /* Set minimum height */
}

/* Product Image Container */
.image-container {
  position: relative;
  width: 95%;
  /* Increased width to make images larger */
  height: 16rem;
  /* Set a fixed height for images */
  display: flex;
  justify-content: center;
}

.main-image {
  width: 100%;
  /* Ensure the image takes full width */
  height: 18rem;
  /* Fixed height */
  object-fit: scale-down;
  
  /* Ensure the image covers the area without distortion */
  border-radius: 0.75rem;
  /* Rounded border */
}

.image-count {
  position: absolute;
  top: 5%;
  right: 5%;
  opacity: 0.4;
  background-color: var(--black);
  color: var(--white);
  padding: 1vh 2vw;
  border-radius: 5px;
  font-size: 1.2rem;
  /* Increased font size */
}

/* Thumbnail Images */
.thumbnail-container {
  display: flex;
  justify-content: center;
  gap: 1vw;
  margin-top: 2vh;
}

.thumbnail {
  width: 5vw;
  height: 10vh;
  border-radius: 5px;
  cursor: pointer;
  border: 0.2vh solid transparent;
}

.thumbnail:hover {
  border-color: var(--hover);
}

/* Product Text */
.product h3 {
  margin: 1.5vh 0;
  font-size: 1.5rem;
  /* Increased font size */
  color: var(---white);
}
.product-grid-section {
  text-align: center;
  place-items: center;
  justify-content: center;
  align-items: center;
}
/* Centering the Popular Products title */
.product-grid-section h2 {
  text-align: center;
  /* Centers the text horizontally */
  font-size: 2rem;
  /* Adjust the font size as needed */
  color: var(--orange);
  /* Adjust the text color */
  margin: 0 auto;
  /* Ensures the title itself is centered */
  width: 100%;
  /* Ensures it takes the full width of the container */
  padding-bottom: 3rem;
  /* Optional: Adds some space below the title */
}

.product p {
  font-size: 1rem;
  /* Larger text */
  color: var(---white);
  margin: 1vh 0;
}

/* Button Groups */
.button-group,
.info-group {
  display: flex;
  justify-content: center;
  gap: 2vw;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 10%;
    
}


.button-group button {
  transform: translateY(-2vh);
  height: 8vh;
}

.button-group {
  bottom: 10vh;
}

.info-group {
  bottom: 2vh;
  
}


/* Buttons - Vertically Smaller */
.button-group button,
.info-group button {
  display: inline-block;
  padding: 1vh 3vw;
  /* Reduced padding for smaller buttons */
  width: 100%;
  /* Ensure buttons take full width */
  max-width: 12rem;
  /* Limit max width */
  text-align: center;
  /* Center button text */
}

.add-to-cart,
.add-to-favorites {
  background-color: var(--frorange);
  color: var(--white);
  border: none;
  padding: 1.5vh 3vw;
  /* Smaller button size */
  border-radius: 5px;
  cursor: pointer;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.add-to-cart:hover,
.add-to-favorites:hover {
  background-color: var(--hover);
}

.info-button:hover,
.comments-button:hover {
  background-color: var(--hover);
}


.info-button,
.comments-button {
  background-color: var(--frorange);
  color: var(--white);
  border: none;
  padding: 1.5vh 3vw;
  /* Smaller button size */
  border-radius: 5px;
  cursor: pointer;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* General Button Styling */
button {
  background-color: var(---black);
  border: none;
  padding: 2vw;
  position: relative;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  align-items: center;
  justify-content: center;
  display: flex;
}

/* Ensure Popular Products section is limited to 2 per page */

.product {
  background-color: #1a1919;
  padding: 7vh;
  /* Increased padding for a larger look */
  border-radius: 1rem;
  /* Rounded border */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  /* Larger shadow */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  gap: 2rem;
  flex-grow: 1;
  padding-bottom: 15rem;
  /* Increased padding at the bottom */
  bottom: 3%;
}

/* Pagination Controls */

.pagination-controls span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  color: var(--white);
  font-size: 1.2rem;
  background-color: var(--frorange);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  padding: 1vh 1vw;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  gap: 4vw;
  position: relative;
  margin-top: 9rem; /* Space between product grid and pagination */
  color: var(--white);
  bottom: 16vh;
}

/* Links styled as buttons */
.pagination-controls a {
  text-align: center;
  width: 30rem; /* Set a width for pagination links */
  height: 3rem; /* Set height for pagination links */
  font-size: 1.2rem;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: var(--frorange);
  color: var(--white);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.pagination-controls a:hover {
  background-color: var(--hover);
  color: var(--white);
}

.add-to-cart,
.add-to-favorites,
.info-button,
.comments-button {
  font-size: 1rem;
  padding: 1vh 2vw;
  border-radius: 5px;
  cursor: pointer;
  justify-content: space-evenly;
}

.info-group.one-button button {
  height: 3.2rem;
  justify-content: center;
}

.details-section .comments-section,
.details-section .info-section {
  text-wrap: 20%;
  width: 20%;
  height: 20%;
  background-color: var(--white);
}

/* Info and Comments Section Styling */
.details-section {
  background-color: var(--black);
  /* Background color */
  color: var(--white);
  /* Text color */
  padding: 1rem;
  /* Padding inside the section */
  border-radius: 0.75rem;
  /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Light shadow for depth */
  transition: all 0.3s ease;
  /* Smooth transition for opening and closing */
}

/* Header Styling */
.details-section h4 {
  color: var(--orange);
  /* Header text color */
  font-size: 1.25rem;
  /* Slightly larger header text */
  font-weight: bold;
  /* Make header text bold */
  margin-bottom: 1rem;
  /* Space below the header */
}

/* Paragraph Styling */
.details-section p {
  font-size: 1rem;
  /* Regular text size */
  line-height: 1.6;
  /* Line height for better readability */
  color: var(--white);
  /* Text color */
  margin-bottom: 1rem;
  /* Space below paragraphs */
}

/* Styling for the "No reviews or questions yet" message */
.details-section p {
  font-style: italic;
  color: #bbb;
  /* Lighter gray for empty message */
}

/* Close Button Styling */

/* Close Button */
.close-button {
  position: relative;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--white);
  padding: 0.25rem;
  transition: color 0.3s ease;
}

.close-button:hover {
  color: var(--hover);
}

.close-button:hover {
  color: var(--hover);
  /* Hover color for close button */
}

/* Add smooth hover effect for text links */
.details-section a {
  color: var(--hover);
  text-decoration: none;
  transition: color 0.3s ease;
}

.details-section a:hover {
  color: var(--orange);
}

/* Pagination Controls */
.popular-products-button-container {
  display: flex;
  justify-content: center;
  gap: 4vw;
  position: relative;
  margin-top: 2rem; /* Space between product grid and pagination */
  color: var(--white);
  bottom: 12vh;
}

/* Links styled as buttons */
.popular-products-button-container a {
  text-align: center;
  width: 80rem; /* Set a width for pagination links */
  height: 5rem; /* Set height for pagination links */
  font-size: 1.8rem;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: var(--frorange);
  color: var(--white);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.popular-products-button-container a:hover {
  background-color: var(--hover);
  color: var(--white);
}
/* Default layout for the product grid */

/* All products should take up 1/3 of the container width, regardless of the number of items */

.product-grid {
  width: 90%;
  height: 100%;

  display: flex;
  gap: 1vw 2vh;

  justify-content: space-between; /* Default: space out items evenly */
}
#status-message {
  font-size: 16px;
  font-weight: bold;
  color: green;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
}
